- var ctaLink = deeplink
doctype html
html
  head
    meta(charset='utf-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;
    title Confirmation
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap', rel='stylesheet')
    | &#x9;
    style.
      tr,
      td{
      margin: 0;
      padding: 0;
      text-align: left
      }
      body {
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      font-family: 'Poppins', sans-serif;
      color: #000000;
      }
      table {
      border-spacing: 0;
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
      }
      table td {
      border-collapse: collapse;
      }
      img {
      -ms-interpolation-mode: bicubic;
      }
      .container600 {
      width: 600px;
      max-width: 100%;
      }
      .line {
      width: 70px;
      }
      @media all and (max-width: 599px) {
      .container600 {
      width: 100% !important;
      }
      .line {
      display: none;
      }
      }
    //if gte mso 9
      style.
        .ol {
        width: 100%;
        }
  body(style='')
    center
      //if gte mso 9
        table(width='600', cellpadding='0', cellspacing='0')
          tbody
            tr
              td
      | &#x9;&#x9;
      table.container600(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(600px); background: #fff3e3; margin: 0 auto;')
        tbody
          tr
            td(width='100%', style='text-align: left; padding: 0 25px;')
              div(style='padding: 20px 0;')
                img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579675835/marketing/jbuxkkiewfwpffu6qset.png', style='display: block;')
          | &#x9;&#x9;&#x9;
          tr
          tr
            td(width='100%', style='text-align: left; padding: 0 25px;')
              table.container600(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(600px); border:2px solid #000000; border-bottom: 0; background: #fff3e3;  margin: 0 auto;')
                tbody
                  tr
                    td(width='100%', style='text-align: left; padding: 20px 25px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; padding: 20px 0;')
                        tbody
                          tr
                            td
                              span(style='font-size: 36px; line-height: 40px; font-weight: bold;') Hi {{customer_name}},
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td(width='100%', style='text-align: left; background: #a7da7e; padding: 20px 25px 20px 25px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%;')
                        tbody
                          tr
                            td(style='padding-right:30px;')
                              img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579864868/marketing/v4qobjqcrnfufck48qoi.png', style='display: block; width: 100px;')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            td
                              span(style='font-size: 18px; font-weight: 600; line-height: 30px;') {{header_banner_text}}
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td(width='100%', style='text-align: left; padding-top: 20px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; padding-bottom: 20px;')
                        tbody
                          tr
                            td
                              span(style='font-size: 24px; padding: 0 20px; font-weight: bold; color: #000000; line-height: 26px;') Your plan details
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            td
                              div.line(style='background: #000000; height: 5px; float: right;')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td(width='100%', style='text-align: left; padding: 20px 25px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%;')
                        tbody
                          tr
                            td(style='')
                              table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; padding-bottom: 20px;')
                                tbody
                                  tr
                                    td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 20px; padding-top: 10px;')
                                      span(style=' font-size: 16px; color: #212121; font-weight: bold; line-height: 20px;') Plan name
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 20px; padding-top: 10px;')
                                      div(style='background: #000000; height: 2px; width: 10px;')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 20px; padding-top: 10px; text-align: right;')
                                      span(style=' font-size: 16px; color: #212121; line-height: 20px; padding-bottom: 20px; padding-left: 20px;') {{plan_name}}
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  tr
                                    td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 20px;')
                                      span(style=' font-size: 16px; color: #212121; font-weight: bold; line-height: 20px; padding-bottom: 20px;') Order ID
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 20px;')
                                      div(style='background: #000000; height: 2px; width: 10px;')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 20px; text-align: right;')
                                      span(style=' font-size: 16px; color: #212121; line-height: 20px; padding-bottom: 20px; padding-left: 20px;') {{order_id}}
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  tr
                                    td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 20px;')
                                      span(style=' font-size: 16px; color: #212121; font-weight: bold; line-height: 20px; padding-bottom: 20px;') Plan Purchase Date
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 20px;')
                                      div(style='background: #000000; height: 2px; width: 10px;')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 20px; text-align: right;')
                                      span(style=' font-size: 16px; color: #212121; line-height: 20px; padding-left: 20px;') {{start_date}}
                                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                  tr
                                    td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 10px;')
                                      span(style=' font-size: 16px; color: #212121; font-weight: bold; line-height: 20px;') Validity
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 10px;')
                                      div(style='background: #000000; height: 2px; width: 10px;')
                                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                                    td(style='padding-bottom: 10px; text-align: right;')
                                      span(style=' font-size: 16px; color: #212121; line-height: 20px; padding-left: 20px;') {{duration}} months , {{start_date}} - {{end_date}}
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td(width='100%', style='text-align: left; padding-top: 20px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; padding-bottom: 20px;')
                        tbody
                          tr
                            td
                              span(style='font-size: 26px; padding: 0 10px 0 20px; font-weight: bold; color: #000000; line-height: 26px;') Plan Benefits
                              img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579864983/marketing/a4pai48idq4ez7br2kzo.png', style='width: 25px;')
                            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                            td
                              div.line(style='background: #000000; height: 5px; float: right;')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td
                      div(style='display: block; padding-bottom: 20px;')
                        ul(style='list-style: none; padding: 0; margin: 0;')
                          each item  in benefits
                            li(style='list-style: none; vertical-align: top; display: inline-block; padding: 10px 2%; margin: 0;  width: 46%; text-align: center;')
                              img(style='width: 150px;', alt='', src= "#{item.template_image}")
                              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                              span(style=' font-size: 18px; width: 98%; padding: 10px 1% 0 1%; color: #212121; display: block; font-weight: 600; line-height: 26px; text-align: center;') {{item.heading}}
                          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  |                                         
                  tr
                    td(width='100%', style='text-align: left;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; padding-bottom: 20px;')
                        tbody
                          tr
                            td
                              span(style='font-size: 26px; padding: 0 10px 0 20px; font-weight: bold; color: #000000; line-height: 26px;') How to access?
                            |                                                             
                            td
                              div.line(style='background: #000000; height: 5px; float: right;')
                  |                                             
                  tr
                    td(width='100%', style='text-align: left; padding: 20px 25px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%;')
                        tbody
                          tr
                            td(style='border-right: 1px solid #000000;')
                              table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; margin-right: 20px;')
                                tbody
                                  tr
                                    td
                                      img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579864891/marketing/txtljf5jus7llfvgfbn7.png')
                            |                                                                 
                            td
                              table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; text-align: left; padding-bottom: 20px;')
                                tbody
                                  tr
                                    td
                                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%;')
                                        tbody
                                          tr
                                            td
                                              div(style='background: #000000; height: 2px; width: 10px;')
                                            |                                                                                         
                                            td(style='padding-left: 20px; padding-bottom: 20px;')
                                              span(style=' font-size: 18px; color: #212121; line-height: 30px;')
                                                | Coupons for all benefits are available at 
                                                b &lsquo;My Plan&rsquo;
                                                |  page.
                                  |                                                                         
                                  tr
                                    td
                                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%;')
                                        tbody
                                          tr
                                            td
                                              div(style='background: #000000; height: 2px; width: 10px;')
                                            |                                                                                         
                                            td(style='padding-left: 20px;')
                                              span(style=' font-size: 18px; color: #212121; line-height: 30px;')
                                                | Coupons will be 
                                                b auto applied
                                                |   when you check out.
                   tr
                    td(width='100%', style='text-align: left; padding: 0 25px 20px 25px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%;')
                        tbody
                          tr
                            td(style='text-align: center; padding: 15px 0 20px 0')
                              a(href='{{ctaLink}}')
                                div(style='display: inline-block; line-height: 40px; background: #f16161; align-self: center; padding: 0 30px; font-size: 25px; font-weight: 600; color: #ffffff;') Start Exploring 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td(width='100%', style='text-align: left; border-left: 5px solid #000000; padding: 15px 25px;')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%;')
                        tbody
                          tr
                            td
                              span(style='font-size: 18px; line-height: 22px;') We are very happy to embark upon this journey towards better health with you
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td(width='100%')
                      table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; text-align: center; border-top: 2px solid #000000; margin-top: 30px;')
                        tbody
                          tr
                            td(style='text-align: center;')
                              div(style='font-size: 18px; font-weight: 600; padding: 20px 25px 0 25px; line-height: 22px;') For a better experience, download the app 
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;                              
                  tr
                    td(width='100%;', style='padding: 20px 10% 20px 10%; text-align: center;')
                      div
                        a(href='https://play.google.com/store/apps/details?id=com.aranoah.healthkart.plus&utm_source=download_android_app&utm_medium=email&utm_campaign=Careplan_welcome')
                          img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579864570/marketing/wsoopfzw4f9znpzgl0ql.png')
                        | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                        a(href='https://apps.apple.com/in/app/1mg/id554578419?utm_source=download_ios_app&utm_medium=email&utm_campaign=Careplan_welcome')
                          img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579865063/marketing/ih0stx1wcdhz3tikuv4j.png')
          | &#x9;&#x9;&#x9;&#x9;
          tr
            td(width='100%', style=' padding:25px; background: #ff6f61;')
              table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; text-align: center;')
                tbody
                  tr
                    td(style='text-align: center;')
                      a(href='https://www.1mg.com/?utm_source=footer_logo&utm_medium=email&utm_campaign=Careplan_welcome')
                        img(style='width: 100px; margin: 0 auto', alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1580466906/marketing/hb3om7secyt4m7hchtdf.png')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  tr
                    td(style='padding: 15px; text-align: center;')
                      span(style='font-size: 24px; color: #000000; text-align: center; font-weight: 500; line-height: 22px;') Bringing Care to Health
          | &#x9;&#x9;&#x9;&#x9;
          if user_dcp_invoice_url
            tr
              td(width='100%', style=' padding:15px; background: #f3efef;')
                table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; text-align: center;')
                  tbody
                    tr
                      td(style='text-align: center;')
                        a(style='text-decoration: none', href='{{user_dcp_invoice_url}}')
                          span(style='font-size: 18px; color: #ff6f61; text-align: center; line-height: 22px;') Download Invoice
      //if gte mso 9
