doctype html
head
    meta(charset='utf-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;
    title 30 Days Mailer
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap', rel='stylesheet')
    | &#x9;
    style.
      body {
      margin: 0;
      padding: 0;
      font-size: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      font-family: 'Poppins', sans-serif;
      color: #000000;
      }
      img {
      -ms-interpolation-mode: bicubic;
      }
      .container600 {
      width: 600px;
      max-width: 100%;
      }
body
    center 
        | &#x9;&#x9;
        table(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(600px); background: #fffff; margin: 0 auto;')
            tbody
                tr
                    td(width='100%', style='text-align: left; padding-left: 16px; padding-top: 24px;')
                        div(style='')
                            img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579675835/marketing/jbuxkkiewfwpffu6qset.png', style='display: block; height: 20px;')
                | &#x9;&#x9;&#x9;
                tr 
                    td(width='100%', style='text-align: left; padding-left: 16px; padding-top: 40px;')
                        div(style='font-size: 40px; font-weight: 600;') 30 days of extra savings left
                | &#x9;&#x9;&#x9;
                tr 
                    td(width='100%', style='text-align: center; padding-left: 16px; padding-top: 8px; padding-right: 16px;')
                        div(style='font-size: 20px; font-weight: 400;') We want to continue to care for you!

