doctype html
head
    meta(charset='utf-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;
    title 30 Days Mailer
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap', rel='stylesheet')
    | &#x9;
    style.
      body {
      margin: 0;
      padding: 0;
      font-size: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      font-family: 'Poppins', sans-serif;
      color: #000000;
      }
      img {
      -ms-interpolation-mode: bicubic;
      }
      .container600 {
      width: 600px;
      max-width: 100%;
      }
body
    center 
        | &#x9;&#x9;
        table(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(600px); background: #fffff; margin: 0 auto;')
            tbody
                tr
                    td(width='100%', style='text-align: left; padding-left: 16px; padding-top: 16px; padding-right: 16px;')
                        div(style='font-weight: 600; font-size: 24px; color: #0094d8;') Limited time offer !
                | &#x9;&#x9;&#x9;
                tr 
                    td(width='100%', style='text-align: left; padding-left: 16px; padding-right: 16px;')
                        div(style='font-size: 20px; font-weight: 400;')
                            div If you renew before expiry you get
                            ul(style='margin: 0;')
                                li 
                                    span(style='font-weight: 600;') Extra 15 days 
                                    | of membership free
                                li
                                    span(style='font-weight: 600;') 6 months extended validity 
                                    | on current unused benefits
                            div(style='font-size: 18px; color: #767676;') Benefits will be added to your renewed membership

