doctype html
head
    meta(charset='utf-8')
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    | &#x9;
    title 30 Days Mailer
    | &#x9;
    link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap', rel='stylesheet')
    | &#x9;
    style.
      body {
      margin: 0;
      padding: 0;
      font-size: 0;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      font-family: 'Poppins', sans-serif;
      color: #000000;
      }
      img {
      -ms-interpolation-mode: bicubic;
      }
      .icon {
          width: 20%;
      }
      .text {
          width: 80%;
      }
      @media all and (max-width: 490px) {
          .icon {
              width: 30%;
          }
          .text {
              width: 70%;
          }
      }
body
    center 
        | &#x9;&#x9;
        table(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(600px); background: #fffff; margin: 0 auto;')
            tbody
                tr
                    td(width='100%')
                        div(style='font-weight: 600; font-size: 20px; color: #3b3b3b;') Heres a recap of your savings
                        div(style='font-weight: 500; font-size: 18px; color: #767676; padding-top: 8px;') Total savings on your membership : ₹3999
                | &#x9;&#x9;&#x9;&#x9;
                tr
                    td(width='100%' style='padding-top: 16px; padding-bottom: 16px;')
                        table(cellpadding='0', cellspacing='0', border='0', width='100%')
                            tbody
                                tr
                                    td(width='50%' style='padding-right: 16px; padding-top: 16px;')
                                        div(style='background-color: #f9f9f9;')
                                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                tbody
                                                    tr
                                                        td.icon
                                                            img(src='http://res.cloudinary.com/dusqx2w0c/image/upload/v1624024819/marketing/cw0uzkyzqti4qhofdzxg.png' width='20px' height='20px' style='vertical-align: center; padding-left: 16px; padding-right: 16px;')
                                                        td.text
                                                            div(style='font-size: 24px; font-weight: 600; padding-top: 8px;') ₹999
                                                            div(style='font-size: 16px; font-weight: 400; color: #767676; padding-bottom: 8px;') from 23 orders
                                    td(width='50%' style='padding-top: 16px;')
                                        div(style='background-color: #f9f9f9;')
                                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                tbody
                                                    tr
                                                        td.icon
                                                            img(src='http://res.cloudinary.com/dusqx2w0c/image/upload/v1624024819/marketing/cw0uzkyzqti4qhofdzxg.png' width='20px' height='20px' style='vertical-align: center; padding-left: 16px; padding-right: 16px;')
                                                        td.text
                                                            div(style='font-size: 24px; font-weight: 600; padding-top: 8px;') ₹999
                                                            div(style='font-size: 16px; font-weight: 400; color: #767676; padding-bottom: 8px;') 12 Free deliveries
                                tr
                                    td(width='50%' style='padding-right: 16px; padding-top: 16px;')
                                        div(style='background-color: #f9f9f9;')
                                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                tbody
                                                    tr
                                                        td.icon
                                                            img(src='http://res.cloudinary.com/dusqx2w0c/image/upload/v1624024819/marketing/cw0uzkyzqti4qhofdzxg.png' width='20px' height='20px' style='vertical-align: center; padding-left: 16px; padding-right: 16px;')
                                                        td.text
                                                            div(style='font-size: 24px; font-weight: 600; padding-top: 8px;') ₹600
                                                            div(style='font-size: 16px; font-weight: 400; color: #767676; padding-bottom: 8px;') 2 Lab tests
                                    td(width='50%' style='padding-top: 16px;')
                                        div(style='background-color: #f9f9f9;')
                                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                tbody
                                                    tr
                                                        td.icon
                                                            img(src='http://res.cloudinary.com/dusqx2w0c/image/upload/v1624024819/marketing/cw0uzkyzqti4qhofdzxg.png' width='20px' height='20px' style='vertical-align: center; padding-left: 16px; padding-right: 16px;')
                                                        td.text
                                                            div(style='font-size: 24px; font-weight: 600; padding-top: 8px;') ₹99
                                                            div(style='font-size: 16px; font-weight: 400; color: #767676; padding-bottom: 8px;') 1 Premium Consultation
                                tr
                                    td(width='50%' style='padding-right: 16px; padding-top: 16px;')
                                        div(style='background-color: #f9f9f9;')
                                            table(cellpadding='0', cellspacing='0', border='0', width='100%')
                                                tbody
                                                    tr
                                                        td.icon
                                                            img(src='http://res.cloudinary.com/dusqx2w0c/image/upload/v1624024819/marketing/cw0uzkyzqti4qhofdzxg.png' width='20px' height='20px' style='vertical-align: center; padding-left: 16px; padding-right: 16px;')
                                                        td.text
                                                            div(style='font-size: 24px; font-weight: 600; padding-top: 8px;') ₹80
                                                            div(style='font-size: 16px; font-weight: 400; color: #767676; padding-bottom: 8px;') 4 Express delivery
                tr
                    td(width='100%')
                        div(style='font-size: 20px; font-weight: 400;') You are among our top customers to get this extra care. And thats not all, here’s an offer just for you!
