- var ctaLink = deeplink
doctype html
html
    head
        meta(charset='utf-8')
        | &#x9;
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        | &#x9;
        title Activation
        | &#x9;
        link(href='https://fonts.googleapis.com/css?family=Poppins:400,600,700,800&display=swap', rel='stylesheet')
        | &#x9;
        style.
            tr,
            td{
            margin: 0;
            padding: 0;
            text-align: left
            }
            body {
            margin: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            font-family: 'Poppins', sans-serif;
            color: #000000;
            }
            table {
            border-spacing: 0;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            }
            table td {
            border-collapse: collapse;
            }
            img {
            -ms-interpolation-mode: bicubic;
            }
            .container768 {
            width: 768px;
            max-width: 100%;
            }
            @media all and (max-width: 725px) {
            .container768 {
            width: 100% !important;
            }
            .line {
            display: none;
            }
            }
    body(style='')
        center
            table.container768(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(768px); background: #fff3e3; margin: 0 auto;')
                tbody
                    //-Main content
                    tr
                        td(style='text-align: left; padding: 0 25px; padding-bottom: 20px;', width='100%')
                            table(cellpadding='0', cellspacing='0', border='0', width='100%', style='width:calc(100%);max-width:calc(768px); border: 2px solid #000000; border-bottom: 0; border-top: 0; background: #fff3e3;  margin: 0 auto;')
                                tbody 
                                    tr 
                                        td(style='padding-top: 33px; padding-left: 25px; padding-bottom: 38px;', width="80%")
                                            img(style='height: 24px; width: 108px;', alt='', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1634912740/f2th4lqxaihpxq09pghy.png')
                                        td(style='padding-top: 30px; padding-right: 25px; padding-bottom: 35px; text-align: right;', width="20%")
                                            img(style='height: 30px; width: 109px;', alt='', src='https://res.cloudinary.com/dusqx2w0c/image/upload/v1634922322/yiyvz9dpavejuizct0f6.png')
                                    tr
                                        td(width="100%", colspan="2")
                                            div(style="width: 72%; height: 1px; background: #000000;")
                                    tr
                                        td(width="100%", colspan="2")
                                            div(style="font-size: 36px; font-weight: 700; line-height: 54px; color: #000000; padding: 25px 0px 10px 18px;") Hi Roshan Jha,
                                    tr
                                        td(style="background: #A7DA7E; padding: 16px; border-left: 18px solid #fff3e3; border-right: 11px solid #fff3e3;", width="100%", colspan="2")
                                            table(style='min-width:100%;', width='100%', cellpadding='0', cellspacing='0', border="0")
                                                tbody 
                                                    tr
                                                        td(width="20%")
                                                            img(style="height: 121px; width: 121px;", alt='', src="https://res.cloudinary.com/dusqx2w0c/image/upload/v1634913874/wdhxig45lulgmvoypjkt.png")
                                                        td(style="padding-left: 18px;", width="80%")
                                                            div(style="font-size: 24px; font-weight: 700; line-height: 24px; color: #3b3b3b;") Welcome to Care Plan 
                                                            div(style="font-size: 16px; font-weight: 400; line-height: 24px; padding-top: 4px; color: #3b3b3b;") Your membership has been activted. You are now a premium member of 1mg. As an employee at Tata 1mg, we offer you the best healthcare membership available today with great benefits.
                                    tr
                                        td(style="padding-top: 28px; padding-bottom: 10px;", width="100%", colspan="2")
                                            table(style='min-width:100%;', width='100%', cellpadding='0', cellspacing='0', border="0")
                                                tbody
                                                    tr 
                                                        td
                                                            span(style='font-size: 24px; padding-left: 15px; font-weight: 500; color: #000000; line-height: 36px;') Your plan details
                                                        td
                                                            div.line(style='width: 450px; background: #000000; height: 4px; float: right;')
                                    tr 
                                        td(style="padding-left: 18px; padding-right: 13px;", width="100%", colspan="2")
                                            table(style='min-width:100%;', width='100%', cellpadding='0', cellspacing='0', border="0")
                                                tbody
                                                    tr 
                                                        td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 14px; padding-right: 70px;')
                                                          span(style=' font-size: 16px; color: #212121; font-weight: 700; line-height: 24px;') Plan name
                                                        td(style='padding-bottom: 14px;')
                                                          div(style='background: #000000; height: 2px; width: 7px;')
                                                        td(style='padding-bottom: 14px; text-align: right;')
                                                          span(style=' font-size: 16px; font-weight: 500; color: #212121; line-height: 24px; padding-bottom: 20px; padding-left: 20px;') 1mg Care Plan
                                                    tr 
                                                        td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 14px;')
                                                          span(style=' font-size: 16px; color: #212121; font-weight: 700; line-height: 24px;') Order ID
                                                        td(style='padding-bottom: 14px;')
                                                          div(style='background: #000000; height: 2px; width: 7px;')
                                                        td(style='padding-bottom: 14px; text-align: right;')
                                                          span(style=' font-size: 16px; font-weight: 500; color: #212121; line-height: 24px; padding-bottom: 20px; padding-left: 20px;') DCP45565642594
                                                    tr 
                                                        td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 14px;')
                                                          span(style=' font-size: 16px; color: #212121; font-weight: 700; line-height: 24px;') Plan Purchase Date
                                                        td(style='padding-bottom: 14px;')
                                                          div(style='background: #000000; height: 2px; width: 7px;')
                                                        td(style='padding-bottom: 14px; text-align: right;')
                                                          span(style=' font-size: 16px; font-weight: 500; color: #212121; line-height: 24px; padding-bottom: 20px; padding-left: 20px;') 08 Jan 2020
                                                    tr 
                                                        td(style=' border-right: 1px solid #000000; width: 200px; padding-bottom: 14px;')
                                                          span(style=' font-size: 16px; color: #212121; font-weight: 700; line-height: 24px;') Validity
                                                        td(style='padding-bottom: 14px;')
                                                          div(style='background: #000000; height: 2px; width: 7px;')
                                                        td(style='padding-bottom: 14px; text-align: right;')
                                                          span(style=' font-size: 16px; font-weight: 500; color: #212121; line-height: 24px; padding-bottom: 20px; padding-left: 20px;') 07 -Jan 2020- 07 Jul 2020 3 months
                                    tr
                                        td(style="padding: 50px 0 8px 15px;", width="100%", colspan="2")
                                            div(style="font-size: 24px; font-weight: 500; line-height: 36px;") Plan Benefits
                                    tr
                                        td(style="padding: 30px 0 14px 15px;", width="100%", colspan="2")
                                            div(style="font-size: 26px; font-weight: 500; line-height: 39px;") How to access?
                                    tr
                                        td(style="padding-bottom: 60px;", width="100%", colspan="2")
                                            table(style='min-width:100%;', width='100%', cellpadding='0', cellspacing='0', border="0")
                                                tbody
                                                    tr
                                                        td(style="padding-left: 15px; padding-right: 15px; border-right: 1px solid #000000;")
                                                            img(style="height: 122px; width: 158px;", alt="", src="https://res.cloudinary.com/dusqx2w0c/image/upload/v1634919478/coj4jwavnwhizwkfudda.png")
                                                        td
                                                            table(style='min-width:100%;', width='100%', cellpadding='0', cellspacing='0', border="0")
                                                                tbody
                                                                    tr
                                                                        td
                                                                            div(style='background: #000000; height: 2px; width: 7px; margin-bottom: 65px;')
                                                                        td(style='text-align: left;')
                                                                            div(style=' font-size: 16px; font-weight: 400; color: #212121; line-height: 24px; padding-left: 11px; margin-bottom: 55px;') 
                                                                                | Coupons for all benefits are available at  
                                                                                span(style="font-weight: 600;") ‘My Plan’ 
                                                                                | page.
                                                                    tr
                                                                        td
                                                                            div(style='background: #000000; height: 2px; width: 7px;')
                                                                        td(style='text-align: left;')
                                                                            div(style=' font-size: 16px; font-weight: 400; color: #212121; line-height: 24px; padding-left: 11px;') 
                                                                                | Coupons will be 
                                                                                span(style="font-weight: 600;") auto applied 
                                                                                | when you check out.
                                    tr
                                        td(style="padding-left: 35px; padding-right: 26px; border-left: 2px solid #000000;", width="100%", colspan="2")
                                            div(style="font-size: 18px; line-height: 27px;") We are very happy to embark upon this journey towards better health with you
                                    tr
                                        td(style="border-bottom: 1px solid #000000;", width="100%", colspan="2")
                                            div(style='margin: 15px auto 15px auto; text-align: center; cursor: pointer; background-color: #FF6F61; width: 201px; border: none; padding: 15px 0;')
                                                a(style='font-size: 20px; font-weight: 600; color: #ffffff;  cursor: pointer; text-decoration: none; margin-top: 20px;', href='{{ctaLink}}', target='_blank') Start Exploring
                                    tr
                                        td(style='text-align: center;', width='100%', colspan="2")
                                            div(style='font-size: 18px; font-weight: 400; padding: 29px 0px 18px 0px; line-height: 27px;') For a better experience, download the app                              
                                    tr
                                        td(style='padding: 0px 10% 0px 10%; text-align: center;', width='100%;', colspan="2")
                                            div
                                                a(style="padding-right: 25px;", href='https://play.google.com/store/apps/details?id=com.aranoah.healthkart.plus&utm_source=download_android_app&utm_medium=email&utm_campaign=Careplan_welcome')
                                                    img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579864570/marketing/wsoopfzw4f9znpzgl0ql.png')
                                                a(href='https://apps.apple.com/in/app/1mg/id554578419?utm_source=download_ios_app&utm_medium=email&utm_campaign=Careplan_welcome')
                                                    img(alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1579865063/marketing/ih0stx1wcdhz3tikuv4j.png')
                    //-Footer
                    tr
                        td(style='padding: 35px 0 31px 0; background: #ff6f61;', width='100%', colspan="2")
                            table(width='100%', cellpadding='0', cellspacing='0', style='min-width:100%; text-align: center;')
                                tbody
                                    tr
                                        td(style='text-align: center;')
                                            a(href='https://www.1mg.com/?utm_source=footer_logo&utm_medium=email&utm_campaign=Careplan_welcome')
                                                img(style='width: 100px; margin: 0 auto', alt='', src='https://res.cloudinary.com/du8msdgbj/image/upload/v1580466906/marketing/hb3om7secyt4m7hchtdf.png')
                                    tr
                                        td(style='padding-top: 9px; text-align: center;')
                                            span(style='font-size: 24px; color: #000000; text-align: center; font-weight: 600; line-height: 36px;') Bringing Care to Health                                 